*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pass{
    margin-top:500px;
}
.nav{
    height: 10%;
    width: 100%;
    background-color: #5151f4;
    color: white;
    
}


.logo{
    margin-left: 20px;
    position: relative;
}
.email{
    font-size: 20px;
    margin-left: 70%;
  
}
.email1{
    
    margin-left: 70%;
      width:12%;
    height: 10%;
}
.pass, .pass1{
    font-size: 20px;
    margin-left: 80%;
width:12%;
    height: 10%;
}


.left{
    float: left;
    width: 60%;
    
    height: 100%;
    background-color: #dfe1ee;
}
.hds{
    margin-left: 30px;
    margin-top: 50px;
    letter-spacing: 1.5px;
    
}

.hds3{
    margin-left: 130px;
    margin-top: 50px;
    letter-spacing: 1.5px;
    font-size: 20px;
    
}


/*right side*/

.frm{
    height: 100%;
    background-color: #dfe1ee;
}


.rh1{
    font-size: 60px;
}
.rh5{
    font-size: 30px;
}

input{
    font-size: 30px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-left: 2px;
    padding: 3px;
}

.inp1,.inp2{
    width: 18%;
    margin-top:2.4%;
}
.inp3,.inp4{
    margin-top: 1%;
}
.inp4{
    margin-bottom: 2%;
}

.lbl1{
    font-size: 25px;
}

.inp5{
    font-size: 15px;
    margin-bottom: 1%;
}

.rdo1,.rdo2{
    font-size: 30px;
}
.rp{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
.inp6{
    background-color: #049f04;
    color: white;
    border-radius: 4px;
    margin-top: 5px;
    font-size:20px;
    
}




.sidetxt{
    font-size: 15px;
    color: #c79a9a;
}









/*responsive css*/


@media only screen and (max-width: 415px){
    
    .nav{
    height: 10%;
    width: 100%;
    background-color: #5151f4;
    color: white;
    
}
    .one{
        display: none;
    }
    .logo{
        text-align: center;
        
    }
    
    .left{
      
       margin-top: -50px;
        width: 100%;
        float:none;
    }
    .lh1{
        text-align: center;
        font-size: 20px;
    }
    .hds3{
        
        margin-left: 80px;
        font-size: 15px;
        width: 50%;
        margin-top: 30px;
       
    }
    
    .frm{
      float:none;
        margin-top: -300px;
        font-size: 20px;
    }
    .rh1{
        font-size: 30px;
        margin-left: 90px;
    }
    .rh5{
        font-size:20px;
        text-align: center;
    }
    input{
        font-size: 14px;
        margin-left:100px;
    }
    .inp2{
        margin-left: 10px;
    }
    .lbl1{
        font-size:20px;
        margin-left: 100px;
        margin-bottom: 5px;
    }
    
    .lbl2{
        margin-left: 100px;
    }
    .rdo1{
        margin-left: 0px;
    }
    .rdo2{
        margin-left: 5px;
    }
  
}



