*{margin: 0;
padding: 0;
    box-sizing: border-box;
}

.side{
    width: 30%;
    height: 100%;
    background-image: url(bg.jpg);
    object-fit: cover;
    float:left;
    color: white;
}
.hd{
    margin-top:300px;
    margin-left: 100px;
}

.login{
    width: 100%;
    height:100%;
    background-color: #f2eeee;
}

.pp{
    
    margin-top: 15px;
    margin-left: 105px;
    margin-bottom: 20px;
}

.button{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 150px;
    border-radius: 4px;
    padding: 5px;
}

h5{
    text-align: end;
    margin-right: 10px;
}
.register{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 15px;
}

.lp{
    text-align: center;
    margin-bottom: 40px;
}

input{
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 375px;
    width: 450px;
    height: 50px;
}

.inp{
    margin-bottom: 30px;
}
.reg{
    text-decoration: none;
    border: 1px solid black;
    background-color: blue;
    color: white;
    margin-left: 380px;
    font-size:  20px;
    padding: 5px;
    border-radius: 2px;
}


/*for mobile*/

/*section*/


@media only screen and (max-width: 415px) {
 .side{
    width: 100%;
    height: 25%;
    background-image: url(bg.jpg);
    
    color: white;
}
    .hd{
        margin: auto;
       text-align: center; 
        padding-bottom: 0px;
        font-size: 14px;
    }
    .pp{
        font-size: 10px;
        margin-left: 125px;
        
    }
    .button{
        font-size: 10px;
    }
}


/*second div*/

@media only screen and (max-width: 415px){
    
    .login{
    width: 100%;
    height:100%;
    background-color: #dbf0ef;
}
    
    h5{
        text-align:left;
    }
    .anchor{
        font-size: 18px;
        
    }
    .register{
        
        margin-top: 30px;
        color: #641a1a;
    }
    .lp{
        font-size: 13px;
        margin-top: -10px;
    }
    
input{
    margin: auto;
    width: 70%;
    height: 30px;
    margin-left: 15%;
    margin-bottom: 2%;
    text-align: left;
    
}
    .reg{
        margin: auto;
        margin-left: 15%;
        font-size: 10px;
        margin-top: -20px;
    }
}

/*for screen  size 411*/


@media only screen and (max-width: 415px) {
 .side{
    width: 100%;
    height: 25%;
    background-image: url(bg.jpg);
    
    color: white;
}
    .hd{
        
        margin-left: -60px;
        padding-bottom: 0px;
        font-size: 14px;
    }
    .pp{
        font-size: 10px;
        margin-left: 100px;
        
    }
    .button{
        font-size: 10px;
        margin-left: 120px;
        
    }
}







@media only screen and (max-width: 415px){
    
    .login{
    width: 100%;
    height:100%;
    background-color: #dbf0ef;
}
    
    h5{
        text-align:left;
    }
    .anchor{
        font-size: 18px;
        
    }
    .register{
        
        margin-top: 30px;
        color: #641a1a;
    }
    .lp{
        font-size: 13px;
        margin-top: -10px;
    }
    
input{
    margin: auto;
    width: 70%;
    height: 30px;
    margin-left: 15%;
    margin-bottom: 2%;
    text-align: left;
    
}
    .reg{
        margin: auto;
        margin-left: 15%;
        font-size: 10px;
        margin-top: -20px;
    }
}






