*{
    margin: 0;
    padding: 0;
    
}

main{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.div1{
    height:100%;
    background-color: #9b9bf2;
}
.div2{
    height: 200%;
    
    
}

.ul1{
    list-style: none;
    display: inline;
}
.li1{
    list-style: none;
    display: inline;
    color: white;
    margin: 5px;
    padding: 10px;
}
.h{
    
    margin-top: 50px;
    padding-bottom: 80px;
    background-color: bisque;
}
.rh1{
    margin-top: 20px;
    margin-left: 20px;
}
.rh2{
    margin-top: 5px;
    margin-left: 50px;
    padding-left: 50px;
    color: orange;
    font-size: 20px;
}



.bar{
    height: 50px;
    width: 100%;
    background-color: yellow;
}
.img1{
    height: 50%;
    width: 32%;
    background-image: url(rose-petals-3194062_640.jpg);
    float: left;
    margin-top: 0px;
    margin-left: 0.5px;
}

.img2{
    height: 50%;
    width: 31%;
    background-image: url(ice-skates-1082514_640.jpg);
    float: left;
    margin-top: 0px;
    margin-left: 1px;
}

.img3{
    height: 50%;
    width: 34%;
   background-image: url(rose-petals-3194062_640.jpg);
    float:left;
    margin-top: 0px;
    margin-left: 1px;
}

.div3{
    height: 10%;
    width: 100%;
    background-color: #9696e0;
   
}

.divm1{
    height: 100%;
    width: 60%;
    background-color: #e2b665;
}

.mh1{
    color: white;
    text-align: center;
}

.mp1{
    text-align: center;
    font-size:20px;
    margin-top: 15px;
}

.mul{
    list-style: disc;
    margin-top: 15px;
}
.mli{
    list-style: disc;
    text-align: center;
    margin-top: 15px;
}

.bli{
    font-size: 22px;
    margin-left: -150px;
}
.bh1{
    color: blue;
    margin-left: -250px;
}

.bp{
    margin-top: 30px;
    font-size: 18px;
    margin-left: -200px;
    margin-bottom: 10px;
}

.foot{
    height: 6%;
    width: 100%;
    background-color: #8484f2;
    color: white;
    text-align: center;
    
}
