*{
    margin:0px;
    padding:0px;
    font-family: cursive;
}

.hero{
    background-color: lightgray;
    font-family: sans-serif;
    font-size:20px;
    width:50%;
    height: 50%;
    margin-top:50px;
    padding:6px;
    margin-left:250px;
}


.pseduo + p::first-letter{
    font-size:30px;
    background-color: aqua;
    
}

.pseduo + p +p::first-line{
    font-size:30px;
    background-color: aqua;
    
}

.spn{
    font-size: 40px;
}

.spn:hover{
    background-color: lightblue;
}

.pseduo ~ p::first-letter{
    color: red;
}

.exe2{
    margin:auto;
    padding: 5px;
    border: 2px solid black;
    max-width: 250px;
}

.exe2:hover{
    margin: auto;
    padding: 5px;
    background-color: black;
    color: white;
    max-width: 500px;
    letter-spacing: 2px;
    
}


.exe3{
    height: 200px;
    background-color: red; 
/*    linear gradient top to bottom*/
  background-image: linear-gradient(red, yellow,lightblue);
}